exercises/assignment[0-9]*.tex filter=git-crypt diff=git-crypt
exercises/build/assignment* filter=git-crypt diff=git-crypt
exercises/images/* filter=git-crypt diff=git-crypt
exercises/build/ex7* filter=git-crypt diff=git-crypt
